---
import { cn } from '@/lib/utils';
import { Image } from 'astro:assets';
import Button from '../ui/button.astro';
type Props = {
  class?: string;
  label: string;
  caption: string;
  text: string;
  image: any;
};
const { class: className, label, image, text, caption } = Astro.props;
---

<div class={cn('container  grid md:grid-cols-[4fr_7fr]', className)}>
  <div class='flex-col max-md:order-last flex py-6 max-h-full'>
    <h3 class='md:text-5xl text-3xl mb-6 font-semibold'>{label}</h3>
    <h5 class='text-black text-2xl font-medium'>
      {caption}
    </h5>
    <p class='my-6 flex-1'>
      {text}
    </p>
    <a href={'/products/' + label.toLowerCase()}>
      <Button class='uppercase w-fit'>Learn More</Button>
    </a>
  </div>
  <a href={'/products/' + label.toLowerCase()}>
    <Image
      transition:name={label}
      src={image}
      class={'rounded-2xl drop-shadow-lg hover:drop-shadow-2xl transition-all'}
      alt={''}
    />
  </a>
</div>
